/*页面整体设置2*/
html,body { 
    margin:0px;
    padding: 0px; 
    width:100%;
    height:100%;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    background: #fff;
    color: #222;
    min-width: 990px;
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
div{display: block;}
*{
    margin:0;padding:0;
}
ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
li{
    list-style-type:none;
    display: list-item;
    text-align: -webkit-match-parent;
}
a{/*去掉链接周围的虚线框*/ 
    outline:none;
    text-decoration: none;
}
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
/*顶部*/
.header {
    background: none no-repeat scroll center -10px transparent;
    position: relative;
    margin: -42px auto 0px;
}
.header .header-layer{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}
.header .h-center {
    width: 980px;
    margin: 0px auto;
    position: relative;
    height: 170px;
    transition: height 0.2s ease 0s;
}

/*顶部导航条*/
.z_top_container {/*顶部导航条容器*/
    color: #222;
    position: relative;
    z-index: 10000;
}    
.z_top-mask-wrp{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
}
.z_top-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=40) \9;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
}
.z_top-mask-bg {
    position: absolute;
    width: 100%!important;
    height: 62px;
    top: -10px;
    left: 0px;
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=false);
    z-index: 50;
    background-position: center 0!important;
    background-repeat: no-repeat;
}

.z_top{
    height: 42px;
    background: #fff;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    z-index: 10000;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
    color: #222;
    background-color: transparent;
}
.z_top .z_header {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: left;
    z-index: 10000;
    width: 980px;
    zoom: 1;
}
.z_top .i-link {
    text-decoration: none;
    color: #FFF;
    padding: 0 15px;
}
.z_top_nav {
    float: left;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
}
.z_top_nav ul.menu {
    float: left;
    position: relative;
    /*line-height: 42px;*/
}
.z_top_nav li.u-i {
    float: left;
    text-align: center;
    height: 42px;
    line-height: 42px;
    position: relative;
}
.z_top_nav li.u-i a.i-link {
    color: #fff;
    font-size: 12px;
}
.z_top_nav li.u-i:hover{
    background-color: rgba(255, 255, 255, 0.3); /* 背景色 */
    text-decoration: none; /* 不显示超链接下划线 */
}

.uns_box {
    float: right;
    font-size: 12px;

}
.uns_box ul.menu {
    float: left;
    position: relative;
    /*line-height: 42px;*/
}
.uns_box li.u-i {
    float: left;
    text-align: center;
    height: 42px;
    line-height: 42px;
    position: relative;
}
.uns_box li.u-i a.i-link {
    color: #fff;
    font-size: 12px;
}
.uns_box li.u-i:hover{
    background-color: rgba(255, 255, 255, 0.3); /* 背景色 */
    text-decoration: none; /* 不显示超链接下划线 */
}
.uns_box li.i_user {
    margin: 0 15px;
    width: 36px;
}
.uns_box li.i_user:hover{
    background-color: rgba(255, 255, 255, 0); /* 背景色 */
}
.uns_box li.i_user img{
    border-radius:50%;
    position: relative;
    z-index: 10000;
}

.i_menu{
	opacity:0;
    display: none;
    position:absolute;
    background-color: #fff;
    top:47px;
    left: 50%;
    width: 260px;
    
    margin-left: -130px;
    padding-bottom: 0;
    padding-top: 35px;
    border-top: 0;
    box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
	border-radius:0px 0px 5px 5px;
}

/*顶栏左部*/
.z_top .z_top_nav {
    float: left;
    font-size: 12px;
}
/*顶栏右部*/
.user_box {
    float: right;
    font-size: 12px;
}
.user_box ul.menu {
    float: left;
    position: relative;
}

.header .menu{
width: 100%;
background: none repeat scroll 0% 0% #FFF;
}
.header .menu .menu-wrapper {
    position: relative;
    width: 980px;
    margin: 0px auto;
    padding: 6px 0px;
    z-index: 100;
}
/*nav导航盒子*/
nav{
    zoom: 1;
    display: inline-block;
    vertical-align: top;
    height: 50px;

    /*导航位置*/
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    position: relative;
    background: #fff;
}
/*nav-menu*/
.nav-menu{
    width: 100%;
    height: 100%;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.nav-menu .home {
    margin-right: 9px;
}
.nav-menu .nav-item {
    float: left;
    display: block;
    position: relative;
    margin-right: 0;
}
.nav-menu .nav-link {
    width: 48px;
    text-align: center;
    display: block;
}
/*导航条设置*/
.nav-menu>li{
    display: block;
    float: left;
    background: #fff;
    color: #000;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    height: 50px;
}
.nav-menu>li .home {
    margin-left: 0;
}

.nav-menu>li a:hover{
    color: #00a1d6;
}
.nav-menu li a:link,.nav-menu li a:visited,.nav-menu li a:active {
    text-decoration: none;
    color: #000000;
}

.nav-menu .nav-link .nav-name {
    display: inline-block;
    vertical-align: middle;
    color: #222;
    font-size: 12px;
    height: 40px;
    padding-top: 8px;
    line-height: 50px;
}
/*导航栏粉色数字框*/
.num{
    position: absolute;
    top: 8px;
    left: 0px;
    height: 14px;
    width: 100%;
    text-align: center;
}
.nav-menu .nav-link .num-wrap {
    position: absolute;
    top: 8px;
    left: 0;
    height: 14px;
    width: 100%;
    text-align: center;
}
.nav-menu .nav-link .num {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    -webkit-transform: scale(.85);
    -ms-transform: scale(.85);
    transform: scale(.85);
    color: #fff;
    background-color: #ffafc9;
    border-radius: 3px;
    height: 12px;
    line-height: 14px;
    max-width: 28px;
    padding: 1px 3px;
    font-family: sans-serif;
}



/*导航栏隐藏盒子*/
.nav-menu li:hover .hidden-box{display:block;}/*鼠标划过时显示*/

.hidden-box{
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    list-style:none;
    min-width: 120px;
    max-width: 170px;
    position: absolute;
    display: none;
    top: 50px;
    line-height: 30px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
	box-shadow: 0 20px 4px rgba(0,0,0,.16);
	border-radius:0px 0px 50px 50px;
	z-index: 2;
}
.hidden-box li{
    width: 100%;
    background: #FFF;
    color: #000;
    text-align: center;
    -webkit-transition: width .3s linear;
	
}
.hidden-box li:hover{
    background: rgb(229,233,239);
}

/*正文部分*/
.content {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.content-center{/*正文部分中央*/
    text-align: left;
    display: inline-block;
    margin-left:auto;
    margin-right: auto;
}


.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    /*border-top: 1px solid #e0e0e0;*/
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    margin-bottom: 10px;
    padding: 8px;
    box-shadow: rgba(0,0,0,0.5) 0 1px 2px;
    /*border-bottom: 1px solid #e0e0e0;*/
    background: #fff;
}
ul.posts li.post:hover {
    /*background-color: #f0f0f0;*/
}
div.post-date {
    float: right;
}
div.post-url {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 0px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}