html, body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    background: #fff;
    color: #222;
    min-width: 990px;
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

div{
	border-radius: 3px;
}

.b-page-body {
    zoom: 1;
}

.main-inner {
    width: 980px;
    margin: 0 auto;
    position: relative;
    zoom: 1;
}

.fcname {
    margin: 0 auto;
    padding-top: 4px;
}

#daohang li{
	float: left;
	margin-right: 45px;
	font-size: 13px;
}

#daohang li a{
	color: RGB(150,150,150);
}

#daohang li a:hover{
	color:#00a1d6;
	text-decoration: none;
}

.container-top{
	width: 980px;
	height: 220px;
	margin-top: 40px;
}

.b-topic{
	float: left;
	height: 220px;
	width: 620px;
}

.top-list{
	float: left;
	height: 220px;
	width: 360px;
}

.top-list li{
	width: 160px;
	height: 100px;
	float: left;
	margin-left: 20px;
}

.container-row{
	width: 980px;
	zoom:1;
	margin: 0 auto;
	margin-top: 42px;
}

.b-l{
	width: 700px;
	float: left;
}

.b-r{
	width: 260px;
	float: right;
	margin-bottom: 50px;
}

.b-head{
	width: 700px;
	display: inline-block;
}

.b-head-l{
	float: left;
	vertical-align: middle;
}

.dance-type{
	font-size: 22px;
	float: left;
}

.b-slt-tab{
	float: left;
	vertical-align: middle;
	margin-top: 10px;
}

.b-slt-tab li{
	float: left;
	margin-left: 27px;
}

.b-link-more{
	float: right;
	border: 1px solid RGB(150, 150, 150);
	padding: 2px 7px 2px 7px;
	border-radius: 3px;
	margin-top: 10px;
	margin-right: 16px;
}

.read-push{
	float: right;
	border: 1px solid RGB(150, 150, 150);
	padding: 2px 7px 2px 7px;
	border-radius: 3px;
	margin-right: 10px;
	margin-top: 10px;
}

.b-link-more:hover, .read-push:hover{
	background-color: RGB(205,205,205);
}

.v-list{
	padding: 20px 20px 0 0;
	width: 700px;
}

.v-list li{
	width: 160px;
	margin: 0 15px 15px 0;
	float: left;
}

.v-list-juti{
	width: 160px;
	height: 100px;
	margin-bottom: 5px;
}

.list-juti-info{
	color: RGB(150,150,150);
	vertical-align: middle;
	padding-top: 6px;
}

.rementext{
	font-size: 18px;
}

.b-rhead{
	display: inline-block;
}

.b-rhead li{
	float: left;
	margin-left: 16px;
	margin-top: 5px;
}

.b-hread ul{
	float: left;
}

.sanri{
	float: right;
	border: 1px solid RGB(190, 190, 190);
	padding: 2px 7px 2px 7px;
	border-radius: 3px;
	margin-top: 3px;
}

.b-rbody{
	width: 260px;
	margin-top: 20px;
}

.rank-num{
	border:1px solid #fff;
	text-align: center;
	border-radius: 5px;
	vertical-align: middle;
	height: 18px;
	font-size: 12px;
	line-height: 18px;
	width: 18px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #fff;
	background-color: #f25d8e;
	float: left;
}

.rankman{
	float: left;
	width: 80px;
	height: 50px;
	margin-left: 6px;
}

.rlist li{
	margin-bottom: 11px;
	display: inline-block;
} 

.rank-info{
	height: 50px;
	max-width: 135px;
	font-size: 8px;
	float: left;
	margin-left: 6px;
}

.pingfen{
	color: RGB(150,150,150);
	padding-top: 3px;
}

.lookmore{
	height: 24px;
	width: 260px;
	background-color: RGB(215,215,215);
	text-align: center;
	padding-top: 4px;
}