html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
	background: #fff;
	color: #222;
	min-width: 990px;
	tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

/*div{
	display: block;
}*/

.b-page-body{
	zoom:1;
}

.main-inner{
	/*width: 980px;*/
	margin: 0;
	position: relative;
	zoom:1;
}

.viewbox{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	zoom: 1;
	position: relative;
	display:inline-block; 
}

.viewbox .info{
	padding: 5px 0 8px 0;
	float: left;
	width: 635px;
	position: relative;
	overflow: hidden;
}

.v-title{
	color: RGB(82,86,89);
}

.viewbox .info .tminfo {
	float: left;
	width: 100%;
	margin-bottom: 12px;
	height: 16px;
	line-height: 16px;
	color: #666;
	font-size: 12px;
	margin-top: 6px;
	zoom: 1;
}

.viewbox .info .tminfo a{
	color: RGB(150,150,150);
}

.viewbox .info .v-title-info {
	height: 28px;
	line-height: 28px;
	zoom: 1;
}

.viewbox .info .v-title-info .v-title-line {
	display: inline-block;
	width: 98px;
	vertical-align: middle;
	float: left;
	white-space: nowrap;
}

.viewbox .info .v-title-info .v-title-line span{
	margin-left: 15px;
	margin-top: 5px;
}

.viewbox .upinfo {
	width: 315px;
	margin-top: 20px;
	float: right;
	background: #fff;
	padding-left: 90px;
	position: relative;
}

.viewbox .upinfo .u-face {
width: 68px;
text-align: center;
float: left;
margin: 0 10px 0 0;
top: 0;
left: 0;
position: absolute;
z-index: 0;
}

.viewbox .upinfo .u-face img{
	 border-radius:50%;
}

.viewbox .upinfo .r-info {
float: left;
width: 100%;
}

.viewbox .upinfo .r-info .usname a.name {
	max-width: 120px;
	color: #00a1d6;
	font-size: 14px;
}

.viewbox .upinfo .r-info .sign {
	max-width: 215px;
	color: #333;
	line-height: 20px;
	min-height: 11px;
	overflow: hidden;
	word-wrap: break-word;
	position: relative;
}

.viewbox .upinfo .r-info .up-video-message {
line-height: 18px;
margin-bottom: 10px;
margin-top: 3px;
}

.viewbox .upinfo .r-info .up-video-message .huizi{
	color: RGB(150,150,150);
}

.b-btn, button {
color: #fff;
cursor: pointer;
text-align: center;
border-radius: 4px;
background-color: #00a1d6;
vertical-align: middle;
border: 1px solid #00a1d6;
transition: .1s;
transition-property: background-color,border,color;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.viewbox .upinfo .r-info .b-btn.f {
height: 24px;
font-size: 14px;
line-height: 24px;
color: #fff;
display: inline-block;
transition: .2s background-color;
width: 142px;
border: 0;
float: left;
}

.viewbox .upinfo .r-info .sixin{
	border:1px solid #ccc;
	text-align: center;
	border-radius: 4px;
	vertical-align: middle;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	width: 82px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 15px;
}

.player-wrapper {
	border-top: 1px solid #e5e9ef;
	border-bottom: 1px solid #e5e9ef;
	background-color: #f6f9fa;
	padding: 0 0;
	position: relative;
}

.player-wrapper .arc-toolbar {
    width: 980px;
    margin: 20px 0;
    min-height: 80px;
}
.arc-toolbar {
    background: #fff;
    color: #444;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    position: relative;
    z-index: 102;
    zoom: 1;
}

.player-wrapper .arc-toolbar .block-share{
	height: 70px;
	margin-left: 35px;
	margin-top: 20px;
	float: left;
}

.player-wrapper .arc-toolbar .block-share .share-right{
	float: left;
}

.v-large{
	float: left;
	width: 690px;
	padding-bottom: 50px;
}

.v-small{
	float: right;
	width: 290px;
	padding-bottom: 50px;
}

.charge-entrance .charge-support {
    width: 288px;
    position: relative;
    border-radius: 5px;
    background: #fff;
    padding-top: 10px;
    text-align: center;
}

.charge-entrance .charge-support .charge-support-btn{
	border:1px solid #fff;
	text-align: center;
	border-radius: 8px;
	vertical-align: middle;
	height: 24px;
	font-size: 13px;
	line-height: 24px;
	width: 92px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 85px;
	color: #fff;
	background-color: #f25d8e;
}

.charge-entrance .charge-num{
	width: 288px;
    position: relative;
    border-radius: 5px;
    background: #fff;
    padding-top: 10px;
    margin-top: 10px;
}

.charge-entrance .charge-rank{
	width: 288px;
	height: auto;
	margin-top: 18px;
}

.charge-rank-num{
	border:1px solid #fff;
	text-align: center;
	border-radius: 5px;
	vertical-align: middle;
	height: 18px;
	font-size: 13px;
	line-height: 18px;
	width: 18px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 20px;
	color: #fff;
	background-color: #f25d8e;
}

.charge-rank-item{
	margin-top: 10px;
}

.small-face{
	border-radius:50%;
	margin-left: 15px;
	margin-right: 20px;
}

.charge-rank-list{
	margin-bottom: 22px;
}

.chargea{
	margin-left: 20px;
}

.b-head{
	padding: 20px 0 15px 0;
}

.v_desc{
	padding: 40px 0 30px 0;
	color: RGB(150,150,150);
}

.haixihuan{
	font-size: 17px;
	padding: 30px 0 30px 0;
}

.rm-list-wrp{
	padding: 15px 15px 15px 0;
}

.common-head-num{
	font-size: 17px;
	margin-right: 22px;
}

.c_order{
	margin-top: 10px;
}

.comm_send{
	padding: 20px 20px 20px 10px;
	vertical-align: middle;
}

.user_face img{
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.text-back{
	background-image: url(../img/video/pic-send-back.png);
	width: 487px;
	height:69px;
}

.textarea-style{
	background-image: url(../img/video/pic-send-back-right.png);
	float: left;
	border-top: 0px solid;
	border-right: 0px solid;
	border-bottom: 0px solid;
	border-left: 0px solid;
	width: 477px;
	height:69px;
	resize:none;
	padding: 5px 10px 5px 10px;
	color: RGB(150,150,150); 
}

.yanwenzi{
	width: 94px;
	margin-left: 10px;
	margin-top: 5px;
	border:1px solid #D6D6D6;
	border-radius: 2px;
	padding: 4px;
	color: RGB(150,150,150); 
}

.common-btn{
	border:1px solid #fff;
	border-radius: 5px;
	float: left;
	font-size: 14px;
	height: 65;
	color: #fff;
	padding: 12px 20px 12px 20px;
	background-color: #00a1d6;
	margin-left: 15px;
}

.comm_list{
	padding: 20px 0 20px 0;
}

.main-floor{
	padding: 0px 10px 0px 10px;
}

.facebox img{
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.comm-content{
	padding: 10px 25px 25px 0;
}

.content{
	font-size: 15px;
	margin: 3px 0 3px 0;
}

.elinfo span {
	color: RGB(150,150,150);
	margin-right: 25px;
}

.elinfo a{
	color: RGB(150,150,150);
	margin-right: 25px;
}

.comm-hr{
	margin-left: 75px;
	size:4;
	width: 85%;
}