<html>
<head>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<link rel="stylesheet" href=static/1.css type="text/css" media="screen,projection" />
</head>
<body>

<div class="z_top">
<div class='z_top-layer'>
	<div class="z_top-mask"></div>
	<div class="z_top-center">
		<div class="z_top_nav">
		<ul>
			<li class=""><a class="" href=""><span>主站</span></a></li>
			<li class=""><a class="" href=""><span>主站</span></a></li>
			<li class=""><a class="" href=""><span>主站</span></a></li>
			<li class=""><a class="" href=""><span>主站</span></a></li>
		</ul>
		</div>
		<div class="user_box">user_box</div>
	</div>
</div>
</div>    

<div class='header' style='background-image: url("static/1.jpg");' >
<div class='header-layer' >
	<div class="h-center"></div>
	<div class="num">
		<div class="menu-wrapper">			
		<ul class="nav-menu">
			<li class="nav-menu-item"><a class="" href="#"><em>首页</em></a></li>
			<li class="nav-menu-item">
				<a class="" href="#"><em>动画</em></a>
				<ul class="item-list">
					<li><a href="#"><b>短片·手书·配音<em></em></b></a></li>
					<li><a href="#"><b>综合<em></em></b></a></li>
				</ul>
			</li>
		</ul>				
		</div>
	</div>
</div>
</div>
</body>
<script>

</script>
</html>
