{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block page_content %}

<div class="b-page-body">
	<div class="main-inner">
		<div id="daohang" class="fcname">
			<ul>
				<li><a href="" style="color: #00a1d6;">全部</a></li>
				<li><a href="">宅舞</a></li>
				<li><a href="">三次元舞蹈</a></li>
				<li><a href="">舞蹈教程</a></li>
			</ul>
		</div>
		<div class="container-top">
			<div  class="b-topic">
				<img src="{{ url_for('static', filename='img/dance/pic-topic.png') }}">
			</div>
			<ul class="top-list">
				<div style="display:inline-block;">
					<li>
						<img src="{{ url_for('static', filename='img/dance/pic-vitem.png') }}">
					</li>
					<li>
						<img src="{{ url_for('static', filename='img/dance/pic-vitem.png') }}">
					</li>
				</div>
				<div style="margin-top:16px;">
					<li>
						<img src="{{ url_for('static', filename='img/dance/pic-vitem.png') }}">
					</li>
					<li>
						<img src="{{ url_for('static', filename='img/dance/pic-vitem.png') }}">
					</li>
				</div>
			</ul>
		</div>

		<div class="container-row">
			<div class="b-l">
				<div class="b-head">
					<div class="b-head-l" style="float:left;">
						<span class="dance-type">宅舞</span>
						<ul class="b-slt-tab">
							<li>最新动态</li>
							<li>最新投稿</li>
						</ul>
					</div>
					<div class="read-push">
						
					</div>
					<div class="b-link-more">
						
					</div>
				</div>
				<div class="b-body">
					
				</div>
			</div>
			<div class="b-r">
				
			</div>
		</div>

	</div>
</div>

{% endblock %}
