{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block page_content %}
<div class="b-page-body">
	<div class="index-container">
		<div class="container-top-wrapper">
			<div class="container-top clearfix">
				<div  class="b-l">
					<img src="{{ url_for('static', filename='4.jpg') }}">
				</div>
				<div class="b-r">
					<div class="top-list-wrapper">
						<ul class="top-list clearfix">
							<li>
								<div class="v-item">
									<a href="/video/av4027572/" target="_blank" title="【AMV/治愈/这个是僵尸吗】我永远陪你，我可是僵尸啊！">
										<div class="preview">
											<img data-img="" src="{{ url_for('static', filename='saber.png') }}" loaded="loaded" alt="【AMV/治愈/这个是僵尸吗】我永远陪你，我可是僵尸啊！" style="opacity: 1;">
										</div>
										<div class="mask"></div>
										<div class="info">
											<div class="t">[saber]</div>
											<p class="up">up主：一夜造个国</p>
											<p class="play">播放：23170</p>
										</div>
									</a>
								</div>
							</li>
							<li>
								<div class="v-item">
									<a href="/video/av4027572/" target="_blank" title="【AMV/治愈/这个是僵尸吗】我永远陪你，我可是僵尸啊！">
										<div class="preview">
											<img data-img="" src="{{ url_for('static', filename='saber.png') }}" loaded="loaded" alt="【AMV/治愈/这个是僵尸吗】我永远陪你，我可是僵尸啊！" style="opacity: 1;">
										</div>
										<div class="mask"></div>
										<div class="info">
											<div class="t">[saber]</div>
											<p class="up">up主：一夜造个国</p>
											<p class="play">播放：23170</p>
										</div>
									</a>
								</div>
							</li>
							<li>
								<div class="v-item">
									<a href="/video/av4027572/" target="_blank" title="【AMV/治愈/这个是僵尸吗】我永远陪你，我可是僵尸啊！">
										<div class="preview">
											<img data-img="" src="{{ url_for('static', filename='saber.png') }}" loaded="loaded" alt="【AMV/治愈/这个是僵尸吗】我永远陪你，我可是僵尸啊！" style="opacity: 1;">
										</div>
										<div class="mask"></div>
										<div class="info">
											<div class="t">[saber]</div>
											<p class="up">up主：一夜造个国</p>
											<p class="play">播放：23170</p>
										</div>
									</a>
								</div>
							</li>
							<li>
								<div class="v-item">
									<a href="/video/av4027572/" target="_blank" title="【AMV/治愈/这个是僵尸吗】我永远陪你，我可是僵尸啊！">
										<div class="preview">
											<img data-img="" src="{{ url_for('static', filename='saber.png') }}" loaded="loaded" alt="【AMV/治愈/这个是僵尸吗】我永远陪你，我可是僵尸啊！" style="opacity: 1;">
										</div>
										<div class="mask"></div>
										<div class="info">
											<div class="t">[saber]</div>
											<p class="up">up主：一夜造个国</p>
											<p class="play">播放：23170</p>
										</div>
									</a>
								</div>
							</li>
							<li>
								<div class="v-item">
									<a href="/video/av4027572/" target="_blank" title="【AMV/治愈/这个是僵尸吗】我永远陪你，我可是僵尸啊！">
										<div class="preview">
											<img data-img="" src="{{ url_for('static', filename='saber.png') }}" loaded="loaded" alt="【AMV/治愈/这个是僵尸吗】我永远陪你，我可是僵尸啊！" style="opacity: 1;">
										</div>
										<div class="mask"></div>
										<div class="info">
											<div class="t">[saber]</div>
											<p class="up">up主：一夜造个国</p>
											<p class="play">播放：23170</p>
										</div>
									</a>
								</div>
							</li>
							<li>
								<div class="v-item">
									<a href="/video/av4027572/" target="_blank" title="【AMV/治愈/这个是僵尸吗】我永远陪你，我可是僵尸啊！">
										<div class="preview">
											<img data-img="" src="{{ url_for('static', filename='saber.png') }}" loaded="loaded" alt="【AMV/治愈/这个是僵尸吗】我永远陪你，我可是僵尸啊！" style="opacity: 1;">
										</div>
										<div class="mask"></div>
										<div class="info">
											<div class="t">[saber]</div>
											<p class="up">up主：一夜造个国</p>
											<p class="play">播放：23170</p>
										</div>
									</a>
								</div>
							</li>
							<li>
								<div class="v-item">
									<a href="/video/av4027572/" target="_blank" title="【AMV/治愈/这个是僵尸吗】我永远陪你，我可是僵尸啊！">
										<div class="preview">
											<img data-img="" src="{{ url_for('static', filename='saber.png') }}" loaded="loaded" alt="【AMV/治愈/这个是僵尸吗】我永远陪你，我可是僵尸啊！" style="opacity: 1;">
										</div>
										<div class="mask"></div>
										<div class="info">
											<div class="t">[saber]</div>
											<p class="up">up主：一夜造个国</p>
											<p class="play">播放：23170</p>
										</div>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
